<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center; margin: 0; height: 100vh;">
    
    <header style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
        <div style="width: 100%;">
            <div style="background-color: cornflowerblue; padding-right: 15%; padding-top: 10px; padding-bottom: 10px; display: flex; align-items: center; height: 40px;">
                <div style="background-color: cornflowerblue; width: 100%; padding-left: 15%; padding-right: 15%; padding-top: 10px; padding-bottom: 10px; display: flex; align-items: center; height: 40px;">
                    <h5 style="padding-right: 50px; font-size: 12px;">WELCOME TO MY HTML PROJECT LEARNNING</h5> <!-- Adjusted font size -->
                    <h6 style="font-size: 12px;">Hotline 088 655 99 69</h6> <!-- Adjusted font size -->
                </div>
                <ul style="display: flex; gap: 20px; list-style-type: none; padding: 0; margin: 0;">
                    <li>Home</li>
                    <li>About</li>
                    <li>Service</li>
                    <li>Contact</li>
                    <li>Blog</li>
                </ul>
                </div>
               </div>       
        
        </div>
    </header>    
    <section style="padding-top: 20px;">
        <img style="width: 500px; height: 300px;"  src="https://ae-pic-a1.aliexpress-media.com/kf/S3dac9cd64f164f88820e660aa99321a7W/Korean-Trend-Glasses-Frame-Girl-Ins-No-Makeup-Plain-Glasses-Men-Light-Eyewear-Cute-Decorative-Computer.jpg_640x640Q90.jpg_.webp" alt="">
        <img style="width: 500px; height: 300px;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXW0WF7hnsA3YqPKa5thkur70u3-vyqRra5Q&s" alt="">
        <img style="width: 500px; height: 300px;"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1NdwQHpqwyAxobeRGSbbaMWMQLOhE3loPuA&s" alt="">
        <h2>Home</h2>
        <p>Welcome to my Website</p>
    </section>
    
    <section>
        <h2>About Us</h2>
        <p>This section contains information about us.</p>
    </section>
    <footer style="margin-top: auto; padding: 10px;">
        <p>Contact us at email@example.com</p>
    </footer>
    <h1>Hello World</h1>
    <form action="/submit" method="post" style="display: flex; flex-direction: column; align-items: center;">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
